body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-image: url('images/background_header.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 3em 0;
    text-align: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
}

header h1 {
    position: relative;
    color: white;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    z-index: 3;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #4C362A;
}

nav a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2em;
}

footer {
    background-color: #4C362A;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

